* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  margin: 25px;
  padding: 10px;
  border: 1px solid cornflowerblue;
  border-radius: 8px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-container {
  width: 60%;
  margin: 1px;
  padding: 10px;
}

.form-container input {
  width: 60%;
  height: 23px;
  padding: 0px 7px;
  background-color: white;
  border-radius: 3px;
}

.form-container button {
  height: 23px;
  margin: 0px 15px;
  padding: 0px 15px;
}

.form-container button {
  height: 23px;
  margin: 0px 15px;
  padding: 0px 15px;
  background-color: cornflowerblue;
  border-radius: 3px;
  font-weight: bold;
}

.form-container button:hover {
  background-color:palegreen;
}

.list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 0px 15px;
  list-style-type: none;
}

.list-item-container li {
  margin: 0px 15px;
  background-color: transparent;
}

.list-item-container button {
  height: 23px;
  margin: 0px 15px;
  padding: 0px 5px;
  background-color: tomato;
  border-radius: 3px;
}

.list-item-container button:hover {
  background-color:palegreen;
}